<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ordering</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome {{ username }}</h1>
  <h5>You are currently at {{ res_name }}, seated at table {{ table_num }}, seat {{ seat_num }}</h5>
    <form action='' method="post">
      {% csrf_token %}
      <table>
          <input type="number" placeholder="#" name="num_items">
          <input type="text" placeholder="Item" name="item">
      </table>
      <input class="submit-button" type="submit" value="Order">
  </form>
  <h3> Currently Ordered </h3>
  {% for dish in ordered_dishes %}
  <p> {{ dish.name }} </p>
  {% endfor %}

  <a href="/user/pay/{{ username }}/{{ res_name }}/{{ table_num }}/{{ seat_num }}"><h3>Pay for Bill </h3></a>

</body>
</html>
