<!DOCTYPE html>
<html lang="en">
<head>
  <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% load static %}
<link rel="stylesheet" href="{% static 'user-style.css' %}" type="text/css">

</head>
<body>
  {% if has_payed %}
  <h1>You payed </h1>
  {% else %}
  <h2>Buy for $9.99</h2>
  {% endif %}
  <form action="/user/pay/{{ username }}/{{ res_name }}/{{ table_num }}/{{ seat_num }}" method="POST">
    {% csrf_token %}
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_Zz4ngDogsvBD0Dk3ydnqyWp0"
      data-amount="999"
      data-name="campsite.ml"
      data-description="Example charge"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto"
      data-currency="cad">
    </script>
  </form>

  <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Do3CRebsYxeGb1AtjJ6pm7WTMw1fQRqC&scope=read_write">Connect to stripe </a>

    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'user-index.js' %}"></script>

</body>
</html>
