<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'user-home1.css' %}" type="text/css">
</head>
<body>
  <div class="register-div">
    <div style="margin-top: 30px;">
  <div class="row justify-content-center">
  <h4> CampSite    <i class="fa fa-cubes" aria-hidden="true"></i>

</h3>


</div>
<div class="row justify-content-center">
<p class="lead"> Place an order </p>
</div>
  {% if error %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Oops!</strong> There seems to be somebody at that seat already.
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <form id="form" class="register-form" action='' method="post">
    {% csrf_token %}
    <table>
      <div class="input-group input-group-lg">

      <select name="select-res" class="custom-select" required>
  <option selected>Select Restaurant</option>
  {% for restaurant in restaurants %}
  <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
  {% endfor %}
</select>
</div>

      <div class="input-group input-group-lg">
  <input type="number" class="form-control" name="table" placeholder="Table" aria-describedby="sizing-addon1" required>
</div>

<div class="input-group input-group-lg">
  <input type="number" class="form-control" name="seat_num" placeholder="Seat Number" aria-describedby="sizing-addon2" required>
</div>

<div class="input-group input-group-lg">
  <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="sizing-addon3" required>
</div>
    </table>
    <div class="row justify-content-center">
      <!-- normal button -->
    <!--<input class="btn btn-primary" type="submit" value="Order"> -->

    <button class="btn btn-primary" type="submit" type="button" style="margin-top:15px;">Log In <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
    </button>
  </div>
</form>
</div>
</div>
</div>
<div class="how-to">
  <div style="margin-top:5vh;" class="row justify-content-center">
    <h4 class="second-title">What Is CampSite? </h4>
  </div>
  <div>
  <p class="lead text-center"><small>Order inside any restaurant with 3 simple steps</small> </p>
</div>
<div style="margin-top:8vh;">
  <div class="row justify-content-center">
    <h2 class="text-left"><i class="fa fa-sort-numeric-asc"></i></h2>
  </div>
    <p class="lead text-center">1. Select number of items</p>
</div>

<div style="margin-top:10vh;">
  <div class="row justify-content-center">
    <h2 class="text-left"><i class="fa fa-tags"></i></h2>
  </div>
    <p class="lead text-center">2. Browse and choose the item in the restaurant</p>
  </div>
<div style="margin-top:10vh;">
  <div class="row justify-content-center">
    <h2 class="text-left"><i class="fa fa-sticky-note-o"></i></h2>
  </div>
    <p class="lead text-center">3. (Optional) Add a note to the item ordered </p>
  </div>
</div>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'user-home.js' %}"></script>

</body>
</html>
