{% extends 'cafe-base.html' %}
{% load static %}
  {% block title%}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'login-home-manager.css' %}" type="text/css">
  {% endblock %}

  {% block alerts %}
  {% if success %}
  <div style="margin-bottom:0px;" class="alert alert-success alert-dismissible fade show" role="alert">
  Your payment information has been added!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
  {% if error %}
  <div style="margin-bottom:0px;" class="alert alert-danger alert-dismissible fade show" role="alert">
    There was an error with your account data. Contact us if you need help with setup. Or <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Do3CRebsYxeGb1AtjJ6pm7WTMw1fQRqC&scope=read_write"> try again </a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  {% else %}
  {% if request.user.manager.restaurant.stripe_id %}
  {% else %}

  <div style="margin-bottom:0px;"class="alert alert-danger alert-dismissible fade show" role="alert">
     It seems you have not added your payments info to receive money from customers! Set your account info   <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_Do3CRebsYxeGb1AtjJ6pm7WTMw1fQRqC&scope=read_write">here</a> to collect payments.
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
  </div>
  {% endif %}
  {% endif %}
  {% endblock %}

  {% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">Home</li>
  {% endblock %}
  {% block body %}

  <div class="container mydiv">
  <h1 class="display-5">Terminals <a href="/cafe/home/edit-terminal">  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a></h1>
  {% for terminal in request.user.owner.cafe.terminal.all %}
  <p>  Name: {{ terminal.name }} </p>
  {% endfor %}
</div>

<div class="container mydiv">
<h1 class="display-5">Menu's <a href="/cafe/home/edit-menu">  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a></h1>
{% for menu in request.user.owner.cafe.menu.all %}
<p>  Name: {{ menu.name }} </p>
{% endfor %}
</div>

<div class="container mydiv">
  <h1 class="display-5">Dishes <a href="/cafe/home/edit-item">  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
</a></h1>
  {% for item in request.user.owner.cafe.item.all %}
  <p>  Name: {{ item.name }}</p>
  {% endfor %}
</div>
{% endblock %}

{% block jslinks %}
<script type="text/javascript" src="{% static 'login-home-manager.js' %}"></script>
{% endblock %}
