input {
  margin-top: 15px;
}


.register-div {
  height: 100vh;
  background-image: url("/static/img/background-image1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.how-to {
  height: 100vh;
  background-color: rgb(102, 163, 255);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  background-size: cover;
}
