<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    {% load static %}

</head>
<body>
<h1>{{ chef.chef_id }}</h1>
<h3>Num Dishes in Queue: {{ dishes.count }} </h3>
<p> Accumulator: {{ chef.accumulator }} </p>
{% for dish in dishes %}
<p> <a href="/chef/home/{{ chef.chef_id }}/{{ dish.dish_number }}/{{ res }}">{{ dish  }} </a> </p>
{% endfor %}
</body>
</html>
