<!DOCTYPE html>
<html lang="en">
<head>
  <title> Orders </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    {% load static %}

</head>
<body>
<h1>{{ chef.chef_id }}</h1>
<h3>Num Dishes in Queue: {{ dishes.count }} </h3>
<p> Accumulator: {{ chef.accumulator }} </p>
{% for join in joins %}
<div style="outline-style: solid;">

<p>Order: {{ join.order.id }} </p>
<p>Seat: {{ join.order.seat }}</p>
<p>Table: {{ join.order.seat.table }}</p>
<p> Dish:  <a href="/chef/home/{{ join.id }}">{{ join.dish }} </a> </p>
{% if not join.order.note %}
<p> No note was added </p>
{% else %}
<p> Note : {{ join.order.note }} </p>
{% endif %}
</div>

{% endfor %}
</body>
</html>
