{% extends 'terminal/login-terminal.html' %}

{% block title %}
<title> Ordering </title>
    {% load static %}
{% endblock %}
{% block body %}
<div class="container">
<div class="row justify-content-center">
<h1>Welcome Back!</h1>
</div>
<div class="row justify-content-center">
<a href="/cafe/terminal">Logout</a>
</div>
  <!-- USING THESE AS VARIABLES TO RENDER, DO NOT TOUCH-->
  <p id="cafe_id" hidden>{{ terminal.cafe.id }}</p>
  <p id="terminal_name" hidden>{{ terminal.name }}</p>
  <div id="orders">
  </div>
</div>
{% endblock %}
{% block jslinks %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script type="text/javascript" src="{% static 'terminal.js' %}"></script>
{% endblock %}
