{% extends 'terminal/login-terminal.html' %}

  {% block title %}
  <title> Orders </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'terminal/terminal-orders.css' %}" type="text/css">

  {% endblock %}

{% block body %}

{% for item in items %}
<div class="order_div">
  <p> Item:  <a href="/cafe/ready/{{ item.id }}">{{ item.item.name }} </a> </p>
  {% if not item.note %}
  <p> Note: None  </p>
  {% else %}
  <p> Note : {{ item.note }} </p>
  {% endif %}
</div>

{% endfor %}
{% endblock %}
