*:not(.btn) {
  background-image: url("/static/img/wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.title {
  margin-top: 5%;
  text-align: center;
  color: black;
}
#form {
  margin-top: 3%;
}
