* {
  background-image: url("/static/img/start-image2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  margin-top: 10%;
  text-align: center;
  color: white;
}

.forms {
  margin-top: 10%;
}

.form-text {
  text-align: center;
}
