.first-page{
  height: 85vh;
  background-image: url("/static/img/notified_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.improvs {
  height: 70vh;
  background-image: url("/static/img/clouds.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.create-res {
  height: 70vh;
  margin-top: 16vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.head-div {
  height: 70vh;
  background-image: url("/static/img/clouds.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.title {
  margin-top: 10%;
  text-align: center;
  color: white;
}

.title-two {
  text-align: center;
  color: white;
}

.forms {
  margin-top: 10%;
}

.form-text {
  text-align: center;
}
