{% extends 'manager-base.html' %}
{% load static %}
  {% block title%}
  <title>Edit Dishes</title>
  <link rel="stylesheet" href="{% static 'edit-chef.css' %}" type="text/css">

{% endblock %}
{% block breadcrumbs %}

<li class="breadcrumb-item"><a href="/manager/home/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Dishes</li>
{% endblock %}

{% block body %}
  <div class="container">
  <h1> Add a Dish </h1>
  {% if error == True %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Oops!</strong> There seems to exist another Dish with that ID already. Try another one!
  </div>

  {% endif %}
  <form class="register-form" action='' method="post">
      {% csrf_token %}
      <table>
        <input style="max-width: 250px;"type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Dish ID" name="dish_num" required>
         <p class="lead"> Dish ID has to be unique for each dish </p>
        <input style="max-width: 250px;" type="text" class="form-control" aria-describedby="basic-addon1" type="text" placeholder="Dish Name" name="dish_name" required>
        <input style="max-width: 250px;" type="text" class="form-control" aria-describedby="basic-addon1" type="text" placeholder="Dish Description" name="dish_desc" required>
        <input style="max-width: 250px;" type="text" class="form-control" aria-describedby="basic-addon1" type="number" placeholder="Time to Complete" name="time" required>
      </table>
      <button class="btn btn-primary" type="submit" type="button" style="margin-top:1%;">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">Add + </span>
      </button>
  </form>
</div>
<div style="margin-top:25px;" class="container">
  {% for dish in request.user.manager.restaurant.dish.all %}
<div class="ind-div">
<h2>Name: {{ dish.name }} - ID #: {{ dish.dish_number }}</h2>
<h4>Completion Time: {{ dish.time_to_do }}</h4>
<p> Description: {{ dish.description }} </p>
<h4><a style="text-decoration: none;"href="/manager/home/edit-dish/remove-dish/{{ dish.dish_number }}">Remove Dish  <i class="fa fa-minus-square" aria-hidden="true"></i></a></h4>
</div>

{% endfor %}

<div style="float: right;" class="row justify-content-end goback">
<a class="btn btn-outline-primary" href="/manager/home/"><i class="fa fa-reply" aria-hidden="true"></i>
Go Back
</a>
</div>

</div>
</div>
{% endblock %}
