<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
</head>
<body>
  <h1>Tables</h1><a href="/manager/home/add-table/{{ request.user.manager.restaurant.id }}"> Add</a>
  {% for table in request.user.manager.restaurant.table.all %}
<div style="outline-style: solid;">
<h2>Table Number: {{ table.table_number }} ({{ table.seat.all.count }})</h2>
<h4><a href="/manager/home/edit-tables/add-seat/{{ table.id }}/{{ table.seat.all.count }}"> Add Seat</a></h4>
<h4><a href="/manager/home/edit-tables/remove-seat/{{ table.id }}"> Remove Seat</a></h4>
</div>

{% endfor %}


</div>
</body>
</html>
