<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Chefs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
</head>
<body>
  <div style="outline-style: solid;">
  <h1>Chefs</h1>
  <h3> Add a Chef </h3>
  <form class="register-form" action='' method="post">
      {% csrf_token %}
      <table>
        <input type="text" placeholder="Chef ID" name="chef_id" required> <p> Chef id has to be unique for each chef</p>
      </table>
      <input type="submit" value="Add Chef">
  </form>
  {% for chef in request.user.manager.restaurant.chef.all %}
<div style="outline-style: solid;">
<h2>Chef Id: {{ chef.chef_id }} (Active : {{ chef.active }})</h2>
{% if chef.active %}
<a href="/manager/home/edit-chef/activate-chef/{{ chef.chef_id }}">Deactivate</a>
{% else %}
<a href="/manager/home/edit-chef/activate-chef/{{ chef.chef_id }}">Activate Chef</a>
{% endif %}
<h4><a href="/manager/home/edit-chef/remove-chef/{{ chef.chef_id }}"> Remove Chef</a></h4>
</div>

{% endfor %}

</div>
</body>
</html>
