{% extends 'manager-base.html' %}
{% load static %}
  {% block title%}
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'edit-chef.css' %}" type="text/css">

  {% endblock %}
  {% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="/manager/home/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Tables</li>
  {% endblock %}

{% block body %}
  <div class="container">
  <h1 class="display-5">Tables</h1>
  <p class="lead">To delete a table remove all seats</p>
  <a  style="display:inline;" class="btn btn-primary btn-lg" href="/manager/home/add-table/{{ request.user.manager.restaurant.id }}"> <i class="fa fa-plus-square" aria-hidden="true"></i>
  Add a table</a>
</div>
  <div style="margin-top:3%;" class="container">
  {% for table in request.user.manager.restaurant.table.all %}
<div class="ind-div">
<h2>Table {{ table.table_number }} - Number of Seats: {{ table.seat.all.count }}</h2>
<h4>Add Seat<a style="text-decoration: none;" href="/manager/home/edit-tables/add-seat/{{ table.id }}/{{ table.seat.all.count }}">  <i class="fa fa-plus-square" aria-hidden="true"></i>
</a></h4>
<h4>Remove Seat<a style="text-decoration: none;" href="/manager/home/edit-tables/remove-seat/{{ table.id }}">  <i class="fa fa-minus-square" aria-hidden="true"></i>
</a></h4>
</div>

{% endfor %}

<div class="row justify-content-end goback">
<a class="btn btn-outline-primary" href="/manager/home/"><i class="fa fa-reply" aria-hidden="true"></i>
Go Back
</a>
</div>

</div>
{% endblock %}

</div>
</body>
</html>
