{% extends 'manager-base.html' %}
{% load static %}
  {% block title%}
  <title>Edit Runner</title>
  <link rel="stylesheet" href="{% static 'edit-chef.css' %}" type="text/css">
  {% endblock %}
  {% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="/manager/home/">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">Runner</li>
  {% endblock %}
  {% block body %}
  <div class="container">
  <h1 class="display-6">Your Runners</h1>
  <p class="lead">Add a Runner to your Restaurant.<br> Remember <em>Runner id has to be unique for each Runner.</em></p>

  {% if error == True %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Oops!</strong> There seems to exist another Runner with that ID already. Try another one!
  </div>

  {% endif %}
  <form class="register-form" action='' method="post">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="basic-addon1" placeholder="Runner ID" name="runner_id" required>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" type="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true">Add + </span>
          </button>
        </span>
    </div><!-- /input-group -->
  </form>
  {% for runner in request.user.manager.restaurant.runner.all %}
    <div class="ind-div">
      <h2 class="display-6"><i class="fa fa-user-circle" aria-hidden="true"></i>
        ID: {{ runner.runner_id }} - Active : {{ runner.active }} {% if runner.active %}<i class="fa fa-circle" aria-hidden="true" style="color:green;"></i>
        {% else %}
        <i class="fa fa-circle-thin" aria-hidden="true"></i>
        {% endif %}
      </h2>
      {% if runner.active %}
      <a style="margin-top:1%;" class="btn btn-outline-secondary" href="/manager/home/edit-runner/activate-runner/{{ runner.runner_id }}">Deactivate</a>
      {% else %}
      <a style="margin-top:1%;" class="btn btn-outline-success" href="/manager/home/edit-runner/activate-runner/{{ runner.runner_id }}">Activate</a>
      {% endif %}
      <h6 class="display-6"><a style="margin-top:1%;" class="btn btn-outline-danger" href="/manager/home/edit-runner/remove-runner/{{ runner.runner_id }}">Remove Runner
      </a></h6>
    </div>
    {% endfor %}

<div style="float: right;" class="row justify-content-end goback">
<a class="btn btn-outline-primary" href="/manager/home/"><i class="fa fa-reply" aria-hidden="true"></i>
Go Back
</a>
</div>

</div>


{% endblock %}
