<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
</head>
<body>
  <div style="outline-style: solid;">
  <h1>Chefs<a href="edit-chef">Edit</a></h1>
  {% for chef in request.user.manager.restaurant.chef.all %}
  <p>  Id: {{ chef.chef_id }} </p>
  {% endfor %}

</div>
<div style="outline-style: solid;">
  <h1>Tables <a href="edit-tables">Edit</a></h1>
  {% for table in request.user.manager.restaurant.table.all %}
    <p>Table Number: {{ table.table_number }}, Number of Seats:({{ table.seat.all.count }})</p>
  {% endfor %}

</div>
<div style="outline-style: solid;">
  <h1>Dishes <a href="edit-dish">Edit</a></h1>

  {% for dish in request.user.manager.restaurant.dish.all %}
  <p>  Id: {{ dish.dish_number }}, Name : {{ dish.name }}</p>
  {% endfor %}

</div>
</body>
</html>
