{% extends 'manager-base.html' %}
{% block title %}
  <title>Start</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'start-manager.css' %}" type="text/css">
{% endblock %}

{% block body %}
<div class="container-fluid">
  <h2 class="display-3 title">Welcome to CampSite!</h1>
</div>
<div class="row align-items-center forms">
  <div class="col-6 col-sm-6">
    <h4 class="display-4 form-text"><a href="/manager/login">Login</a> </h1>
  </div>
  <div class="col-6 col-sm-6">
    <h4 class="display-4 form-text"><a href="/manager/register">Register</a> <h2>

  </div>
</div>
{% endblock %}
