{% extends 'manager-base.html' %}
{% block title %}
  <title>Start</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'start-manager.css' %}" type="text/css">
{% endblock %}

{% block body %}
  <h1 class="display-1 title">Welcome to CampSite</h1>
<div class="row align-items-center forms">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h4 class="display-4 form-text"><a href="/manager/login">Login</a> </h1>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <h4 class="display-4 form-text"><a href="/manager/register">Register</a> <h2>

  </div>
</div>
{% endblock %}
