{% extends 'login_runner.html' %}
{% block title %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'runner_orders.css' %}" type="text/css">

{% endblock %}
{% block body %}
  {% for join in joins %}
  <div class="order_div">
    <p>Dish:  <a href="/runner/home/{{ runner.runner_id }}/{{ join.id }}/{{ join.restaurant.id }}">{{ join.dish }} </a> </p>
    <p>Table: {{ join.order.seat.table }}</p>
    <p>Seat: {{ join.order.seat }}</p>
      <p>Order: {{ join.order.id }} </p>
      {% if not join.note %}
        <p> Note: None </p>
      {% else %}
        <p> Note : {{ join.note }} </p>
      {% endif %}
  </div>
  {% endfor %}
  {% for order in orders%}
  {% if order.payment.wants_to_pay %}
  <div class="order_div">
    <p>Requests Bill In {% if order.payment.card %} Card {% else %} Cash {% endif %}</p>
    {% if order.payment.card %}
    {% else %}
    <p>Needs change for: {{ order.payment.change_if_cash }} </p>
    {% endif %}
    <p>Payed Bill:  <a href="/runner/home/pay/{{ runner.runner_id }}/{{ order.restaurant.id }}/{{ order.id }}">{{ order.id }} </a> </p>
    <p>Table: {{ order.seat.table }}</p>
    <p>Seat: {{ order.seat }}</p>
  </div>
  {% endif %}
{% endfor %}
{% endblock %}
